header {
  background-color: black;
  height: 120px;
}
#Rubrik {
  font-size: 45px;
  text-align: center;
}

#Rubrik a {
  color: white;
  text-decoration-line: none;
}

nav ul a {
  color: white;
  text-decoration-line: none;
  font-size: 25px;
  padding: 35px;
}

  #Länkar li a{
  color: black;
  text-decoration-line: none;
  font-size: 30px;
}

#Länkar {
  display: flex;
  font-size: 30px;
  list-style: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color:gray;
  padding: 20px;
}

#Länkar li{
  padding:15px;
}

ul li img {
  width: 100px;
}


nav ul {
  display: flex;
  justify-content: space-evenly;
}
